@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* BASICS */

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



button {
    border: none;
    border-radius: 5px;
    padding: 7px;
}

/* COMPONENTS */

header {
    background-color: rgb(214, 213, 213);
    height: 100px;
    margin-bottom: 20px;
}

nav {
    margin: 0 auto;
}

.header-btns>* {
    height: 25px;
}

.go-btn {
    margin-right: 20px;
}

.search-loc{
    height: 30px;
    margin-right: 5px;
    border: none;
}

.location-container {
    height: 80px;
    background-color: rgb(179, 170, 170);
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-around;
    border-radius: 20px;
}

.main-container {
    margin-top: 20px;
    margin: 0 auto;
}

.left-container {
    background-color: rgb(190, 190, 190);
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;

}

.weather-container {
    flex-basis: 40%;
    background-color: white;
    margin: 10px;
}

.locs-container {
    flex-basis: 60%;
    background-color: white;
    margin: 10px;
}

.locs-table {
    width: 100%;
}

table {
    width: 100%;
}

table td {
    text-align: center;
}

/* helpers */
.flex {
    display: flex;
}

.flex.align-items {
    align-items: center;
}

.flex.justify-content {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-basis-50 {
    flex-basis: 50%;
}

.flex.column {
    flex-direction: column;
}

.common-width {
    width: 1400px;
}